<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
  <div class="container">
    <div id="c18" class="frame frame-default frame-type-text frame-layout-0">
      <f:if condition="{content.headline} || {content.subHeadline}">
        <h2 class="large-font">
          {content.headline}
          <br>
          {content.subHeadline}
        </h2>
      </f:if>
      <f:if condition="{content.btntxt} && {content.btnlink}">
        <f:link.typolink class="btn btn-outline btn-xl js-scroll-trigger" parameter="{content.btnlink}">
          {content.btntxt}
        </f:link.typolink>
      </f:if>
    </div>
  </div>
  <div class="overlay"></div>
</div>

</html>