<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

	<div class="download-section {f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<div class="text-center">
						<f:if condition="{content.text}">
							<f:format.raw>{content.text}</f:format.raw>
						</f:if>
						<div class="badges">
							<f:if condition="{image}">
								<f:for each="{image}" as="item" iteration="i">
									<f:if condition="{item.properties.link}">
										<f:then>
											<f:link.typolink parameter="{item.properties.link}" class="badge-link">
												<f:image height="60c" width="203c" image="{item}" />
											</f:link.typolink>
										</f:then>
										<f:else>
											<f:image height="60c" width="203c" image="{item}" />
										</f:else>
									</f:if>
								</f:for>
							</f:if>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</html>