/* Start Genaral CSS for Backend */
.ns-backend-preview {
  margin-top: 15px;
}

.ns-backend-preview .container {
  margin: 0px;
  padding: 0;
  width: 100%;
}

.ns-backend-preview a {
  text-decoration: none;
}

.ns-backend-preview h1,
.ns-backend-preview h2,
.ns-backend-preview h3,
.ns-backend-preview h4,
.ns-backend-preview h5,
.ns-backend-preview h6 {
  font-weight: 500;
  margin: 0 0 10px;
}

.ns-backend-preview h1,
.ns-backend-preview h2,
.ns-backend-preview h3 {
  margin-bottom: 20px;
}

.ns-backend-preview h1 {
  font-size: 28px;
  line-height: 30px;
}

.ns-backend-preview h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
}

.ns-backend-preview h3 {
  font-size: 20px;
  line-height: 26px;
}

.ns-backend-preview h4 {
  font-size: 18px;
  line-height: 23px;
}

.ns-backend-preview h5 {
  font-size: 16px;
  line-height: 23px;
}

.ns-backend-preview h6 {
  font-size: 15px;
  line-height: 22px;
}

.ns-backend-preview picture {
  display: block;
}

.ns-backend-preview p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.ns-backend-preview img {
  height: auto;
  max-width: 100%;
  width: auto;
}

.ns-backend-preview video {
  max-width: 100%;
  width: auto;
}

.ns-backend-preview figure {
  margin: 0 0 15px;
}

.ns-backend-preview ul {
  list-style-type: none;
  padding: 0;
}

.ns-backend-preview .btn {
  border: 1px solid #676767;
  box-shadow: none;
  color: #676767;
  margin-bottom: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.2s ease 0.2s;
  -webkit-transition: all 0.2s ease 0.2s;
}

.ns-backend-preview .btn:hover,
.ns-backend-preview .btn:focus,
.ns-backend-preview .btn:active {
  background-color: #676767;
  color: #fff;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img--overlay {
  position: relative;
}

.bg-img--overlay * {
  border-color: #fff !important;
  color: #fff !important;
  position: relative;
}

.bg-img--overlay::before {
  background-color: rgba(5, 5, 5, 0.5);
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.ns-backend-preview .content-section {
  padding: 40px;
}

.ns-backend-preview .carousel-inner {
  margin-bottom: 20px;
}

/* header */
.header-teaser {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px 30px;
  position: relative;
  height: 550px;
}

.header-teaser::before {
  background: #000;
  position: absolute;
  content: '';
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

.header-content {
  margin: 50px 0px;
}

.header-content h1 {
  color: #fff;
}

.header-image {
  align-items: center;
  display: flex;
  justify-content: center;
}
.download-content {
  margin-top: 30px;
}

.download-image {
  text-align: center;
}

.download-image img{
  max-width: 100% !important; 
  height: 60px !important;
}

.feature-div {
  padding: 40px 0;
}

.feture-icon i {
  font-size: 50px;
}

.feture-items p {
  margin-bottom: 45px;
}

.feature-image {
  text-align: center;
}

.cta-backend {
  padding: 50px;
  text-align: center;
}

.list-inline-item i {
  font-size: 35px;
  margin: 10px;
  margin-bottom: 30px;
}
