<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <f:variable name="logo" value="{f:cObject(typoscriptObjectPath: 'lib.siteLogo')}" />
        <f:variable name="logoWidth" value="{f:cObject(typoscriptObjectPath: 'lib.siteLogoWidth')}" />
        <f:variable name="logoHeight" value="{f:cObject(typoscriptObjectPath: 'lib.siteLogoHeight')}" />
        <f:variable name="logoText" value="{f:cObject(typoscriptObjectPath: 'lib.siteLogoText')}" />
        <f:if condition="{logo}">
            <f:then>
                <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.rootPageId')}"
                    class="navbar-brand js-scroll-trigger">
                    <f:if condition="{logoWidth} || {logoHeight}">
                        <f:then>
                            <f:image src="{logo}" alt="{f:if(condition: logoText, then: logoText, else: 'Logo')}"
                                width="{logoWidth}c" height="{logoHeight}c" />
                        </f:then>
                        <f:else>
                            <f:image src="{logo}" alt="{f:if(condition: logoText, then: logoText, else: 'Logo')}" />
                        </f:else>
                    </f:if>
                    <f:if condition="{logoText}">{logoText}</f:if>
                </f:link.page>
            </f:then>
            <f:else>
                <f:if condition="{logoText}">
                    <f:link.typolink parameter="#page-top" class="navbar-brand js-scroll-trigger">
                        {logoText}
                    </f:link.typolink>
                </f:if>
            </f:else>
        </f:if>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <f:translate key="menu" extensionName="ns_theme_newage" />
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
           <f:render section="MainMenu" arguments="{MainMenu: MainMenu}" />
        </div>
    </div>
</nav>
<f:section name="MainMenu">
    <f:if condition="{MainMenu}">
        <f:variable name="rootPageUrl" value="{f:uri.page(pageUid: '{f:cObject(typoscriptObjectPath: \'lib.rootPageId\')}')}" />
        <ul class="navbar-nav ml-auto">
            <f:for each="{MainMenu}" as="item">
                <li class="nav-item">
                    <a href="{rootPageUrl}#<f:format.case mode='lower'>{item.title}</f:format.case>" title="{item.title}" class="nav-link js-scroll-trigger">
                        {item.title}
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>
