<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')} cta">
  <div class="container">
    <div id="c18" class="frame frame-default frame-type-text frame-layout-0">
      <f:if condition="{data.headline} || {data.subHeadline}">
        <h2 class="large-font">
          {data.headline}
          <br>
          {data.subHeadline}
        </h2>
      </f:if>
      <f:if condition="{data.btntxt} && {data.btnlink.url} !=''">
        <f:link.typolink class="btn btn-outline btn-xl js-scroll-trigger" parameter="{data.btnlink}">
          {data.btntxt}
        </f:link.typolink>
      </f:if>
    </div>
  </div>
  <div class="overlay"></div>
</div>

</html>