<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

  <div class="{f:if(condition: data.space_before_class, then: ' space_before_{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' space_after_{data.space_after_class}')}">
    <div class="container">
      <div class="headline-block text-center">
        <f:variable name="featureHeader" value="{data -> f:render.text(field: 'header')}" />
        <f:if condition="{featureHeader}">
          <h2>{featureHeader}</h2>
        </f:if>
        <f:variable name="featureSubheader" value="{data -> f:render.text(field: 'subheader')}" />
        <f:if condition="{featureSubheader}">
          <p class="text-muted">{featureSubheader}</p>
        </f:if>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <f:if condition="{data.image}">
            <f:for each="{data.image}" as="item" iteration="i">
              <div class="feature-image">
                <f:image image="{item}" width="323c" height="650c" />
              </div>
            </f:for>
          </f:if>
        </div>
        <div class="col-sm-6 col-lg-8">
          <div class="feature-div">
            <div class="row">
              <f:for each="{data.contact_feature}" as="item" iteration="i">
                <div class="col-sm-12 col-lg-6">
                  <div class="feature-item">
                    <f:if condition="{item.socialIcon}">
                      <i class="{item.socialIcon}"></i>
                    </f:if>
                    <f:variable name="itemTitle" value="{item -> f:render.text(field: 'title')}" />
                    <f:if condition="{itemTitle}">
                      <h3>{itemTitle}</h3>
                    </f:if>
                    <f:variable name="itemText" value="{item -> f:render.text(field: 'text')}" />
                    <f:if condition="{itemText}">
                      <p class="text-muted">{itemText}</p>
                    </f:if>
                  </div>
                </div>
              </f:for>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>
