<f:layout name="Default" />

<f:section name="main">	
	<!-- Render main content colpos=0 -->
	<f:switch expression="{data.layout}">
		<f:case value="1">
		    <section>
		    	<div class="container">
		    		<f:cObject typoscriptObjectPath="lib.content"/>
		    	</div>
		    </section>
		</f:case>
		<f:case value="2">
		    <section>
		    	<f:cObject typoscriptObjectPath="lib.content"/>
		    </section>
		</f:case>
		<f:defaultCase>
		    <f:cObject typoscriptObjectPath="lib.content"/>
		    <f:cObject typoscriptObjectPath="lib.onePageScrollContent"/>
		</f:defaultCase>
	</f:switch>
</f:section>
